*{
  margin: 0;
  padding: 0;
}
*{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background: url('/static/image.jpg') no-repeat center;
  color: #2c3e50;
  background-size: cover;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container{
  backdrop-filter: blur(40px) !important;
  border-radius: 20px;
}
.main{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 818px;
  height: 553px;
  background: linear-gradient(119.28deg, rgba(255, 255, 255, 0.4) 3.08%, rgba(196, 196, 196, 0.1) 77.63%);
  box-shadow: 0px 1px 25px -1px rgba(0, 0, 0, 0.1);

  border: 1px solid;
  border-image-slice: 1;
  border-image-source:linear-gradient(135deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 30.65%,
    rgba(255, 255, 255, 0.0719) 62.81%,
    rgba(255, 255, 255, 0.5) 100%
  );
}
.left, .right{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.left img{
  width: 200px;
  height: 200px;
  box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
  clip-path: circle(50%);
  /* animation: rotate 4s linear infinite; */
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}
input[type="range"]{
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
  /* background-color: grey; */
  background: gray;
  overflow: hidden;
  cursor: pointer;

}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: -200px 0 0 200px white;
}
.volume input[type="range"]{
  width: 200px;
}
.volume{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px;
  margin-top: 50px;
}
.volume p, .volume #volume_up{
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#volume_slider{
  transform: translateY(20px);
}
.show_song_no{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  color: white;
}.title, .artist{
  position: absolute;
  top: 20px;
  color: white;
  font-size: 2em;
}.artist{
  top: 65px;
  font-size: 1em;
}.middle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}.middle button{
  outline: none;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#auto{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  outline: none;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
.duration > input[type='range']{
  width: 200%;
  transform: translateX(-25%);
  margin-top: 50px;
}